<div>
  <div class="searchBox">
      <input class="searchInput" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="  Start searching ">
    </div>
  
  <div class="box" *ngFor=" let i of posts | filter:searchText;index as a">
    <h3 class="theme">{{i.theme}}</h3> <br>
    <img id="pictureofNews" src={{i.image}} /><br> 
    <h3>{{i.title}}</h3><br>  
     
      <button class="btns"> Comments</button>
      <button class="btns"> update</button>
      <button class="btn" (click)="delete(i.id,a)">delete</button>

  
  </div>
  


   
