.add{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

input[type=text], select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
input[type=password], select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
input[type=email], select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
input[type=submit] {
width: 100%;
background-color: #34495E; 
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}
input[type=submit]:hover {
background-color: #45a049; /* Green */
}
input{
    display: none;
  }
  label{
    cursor: pointer;
}
.imgup{
    text-align:center;
    padding:3%;
    border:thin solid black;
  }

  input{
    display: none;
  }
  label{
    cursor:pointer;
  }
  #imageName{
    color:green;
  }
