<div class="add">
    <div>
        <h3><b>ADD</b></h3>
    </div>
    <form #add="ngForm" (ngSubmit)="newpost(add)">
        <div class="form-group">
            <label>title</label>
            <input type="text" class="form-control" placeholder="Place name" name="title" #title="ngModel" ngModel />
        </div>
        <div class="form-group">
            <label>content</label>
            <textarea type="text" class="form-control" placeholder="Be free ..." name="content" #content="ngModel" ngModel></textarea>

        </div>
        <div class="form-group">
            <label>theme</label>
            <select name="theme" #theme="ngModel" ngModel>
                <option>Football</option>
                <option>Tennis</option>
                <option>Handball</option>
                <option>NBA</option>
                <option>Basketball</option>
                <option>F1</option>
            </select>
        </div>
        <div for="inputTag" class="imgup">
            <label><b>Select Image</b><br> <i class="fa fa-2x fa-camera"></i>
                <input id="inputTag" type="file" ref="file" multiple accept="image/*" (change)="fileUpload($event)" name="image" #image="ngModel" ngModel/>
            </label>
        </div>
        <hr />
        <img id="output" width="500" src={{files}} />
        <hr />
        <div class="my-3">
            <button type="submit" class="btn" value="share"> share <i class="fa-solid fa-share"></i></button>


        </div>
    </form>
</div>
