<div id="container">
    <img class="ti" src="https://raw.githubusercontent.com/Moez-Ahmed-developpement-Team/Sport-News-Project/main/client/src/assets/Logo1.png"/>
    <img id="tiger1" src="https://raw.githubusercontent.com/Moez-Ahmed-developpement-Team/Sport-News-Project/main/client/src/assets/Logo1.png" />
    <div id="logo">Sports News</div>
    
    <div id="navbar">
        <ul>
            <li id="sign"><a href="signup">SignUp</a></li>
            <li><a href="home">Home</a></li>
            <li><a href="add">Add News</a></li>
            <li><a href="as">As-user</a> </li>
            <li><a href="about">About</a> </li>
            <li id="login"><a href="login">Login</a>
            </ul>
            
        </div>
        

</div>


