<form (onsubmit)="onSubmit">
<div id="center" >
    <span class="hide-sign"><a href="#">x</a></span><br><br>
    <label for="fname"><b>First name:</b></label>
    <input type="text" placeholder="Enter name" id="fname" name="fname" value="">
    <br><br>
   
    <label for="email"><b>Email:</b></label>
    <input type="text" placeholder="Enter Email" id="email" name="email" value=""><br>
    <label for="psw1"><b>Password:</b></label>
    <input type="password" placeholder="Enter Password" id="psw" name="password" value="">
    <br>
    <button id="btn" >Sign Up</button>
</div>
</form>