.login {
    background: #e0dfdfec;
    border-radius: .75em;
   
   margin: auto;
   width: 20%;
   border: 3px solid rgba(86, 85, 88, 0.025);
   padding: 10px;
   padding: .25em .5em;
   box-shadow: rgb(162, 162, 150) -2px -2px 0px 2px, rgb(168, 150, 150) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
   margin-top:  130px;
   
}

.form {
   
}
.input1{

    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    appearance: none;
    width: 100%;
    position: relative;
    border-radius: 3px;
    padding: 9px 12px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    transition: all .2s ease;
    
    }
    .btn-log-in{
        display: inline-block;
        outline: none;
        cursor: pointer;
        font-size: 14px;
        line-height: 1;
        border-radius: 500px;
        transition-property: background-color,border-color,color,box-shadow,filter;
        transition-duration: .3s;
        border: 1px solid transparent;
        letter-spacing: 2px;
        min-width: 160px;
        text-transform: uppercase;
        white-space: normal;
        font-weight: 700;
        text-align: center;
        padding: 16px 14px 18px;
        color: #fff;
        background-color: #083b74f7;
        height: 48px;
    }

