<h1><span>S</span>PORTS <span>N</span>EWS</h1>
<div  class="login">
  <form #user="ngForm" (ngSubmit)="onSubmit(user)" class="form"  >
    <h1>Login</h1>
    
    <input class="input1" type="text" placeholder="user" autocomplete="nope" id="user" #username="ngModel" ngModel name="username"><br><br>
    
    
    <input class="input1" type="password" placeholder="Password" id="pass" #password="ngModel" ngModel name="password"><br><br>
    
    <button type="submit" class="btn-log-in">Log in <i class="fa-solid fa-right-to-bracket fa-xl"></i></button>
    
  </form>
  <p>If you don't have an account please create one! <a href="signup">SignUp</a></p>
  

  
    
  
</div>