

.login {
    background: #e0dfdfec;
    border-radius: .75em;
    
    margin: auto;
    width: 20%;
    border: 3px solid rgba(86, 85, 88, 0.025);
    padding: 10px;
    padding: .25em .5em;
    box-shadow: rgb(162, 162, 150) -2px -2px 0px 2px, rgb(168, 150, 150) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    margin-top:  40px;
    
}
.welcome{
   margin-top: 15%;
   margin-left: 40%;

}
.welcome ul
{
    list-style: none;
   
}
.welcome ul li
{
    font-size: 20px;
    margin: -25px;
}
.welcome ul li a
{
    text-decoration: none;
    color: black;
}
.welcome ul li a:hover
{
    color: rgb(19, 3, 238);
}
.welcome ul  a
{
    color: white;
}


.input1{

    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    appearance: none;
    width: 100%;
    position: relative;
    border-radius: 3px;
    padding: 9px 12px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    transition: all .2s ease;
    
    }
    /* .btn-log-in{
        display: inline-block;
        outline: none;
        cursor: pointer;
        font-size: 14px;
        line-height: 1;
        border-radius: 500px;
        transition-property: background-color,border-color,color,box-shadow,filter;
        transition-duration: .3s;
        border: 1px solid transparent;
        letter-spacing: 2px;
        min-width: 160px;
        text-transform: uppercase;
        white-space: normal;
        font-weight: 700;
        text-align: center;
        padding: 16px 14px 18px;
        color: #fff;
        background-color: #083a74fa;
        height: 48px;
    }
   
    h1 span {
        color: rgb(0, 68, 255);
      }
      h1 {
        color: #999999;
        font-family: arial, sans-serif;
        font-size:100px;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 1px;
        margin-left: 5%;
        }

        */

