.about{
    
  background-color: #083b74f7;
  color: white;
  padding: 1em 2.5em;
  text-decoration: none;
  text-transform: uppercase;
  
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 43%;
}
