<app-nav-bar></app-nav-bar>
<div class="about-section">
    <h1>About</h1>
    <p>We made a sport App where user can choose the sport he want and follow the news and the popular events</p>
    <p>The main features will be : 1/ for user ( a main page with the popular events and posts  2/ for Admin (managing posts / managing categories / managing users )</p>
  </div>
  
  <div class="row">
    <h2 style="text-align:center">Our Team</h2>

    <div class="column">
      <div class="card">
        
        <div class="container">
          <h2>Mohamed Ali Faidi</h2>
         
          <p>Email :</p>
          <p>muhamedalifaidi@proton.me</p>
          <p><button class="button"><a href="https://github.com/MohamedAliFaidi">Github</a></button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        
        <div class="container">
          <h2>Baha EddinElKhalfet</h2>
         
          <p>Email :</p>
          <p>khalfetbeha@gmail.com</p>
          <p><button class="button"><a href="https://github.com/BahaeddineElkhalfet">Github</a></button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
       
        <div class="container">
          <h2>Ahmed Henchiri</h2>
          <p class="title">Email :</p>
         
          <p>Ahmedhenchiri@gmail.com</p>
          <p><button class="button"><a href="https://github.com/Ahmedhenchiri">Github</a></button></p>
        </div>
      </div>
    </div>
  </div>
<a class="about" href="home">Back Home</a>